table {
    border-color: black;
	border-style: solid;
	border-spacing: 2px;
	border-width: 1px;
	margin: 5px auto 40px auto;
	caption-side: top;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}