:root {
	--main-bg-color: #222;
	--main-header-color: #aaa;
	--main-text-color: #888;
	--main-font-size: 16.5px;
}

#logo {
	text-align:center;
    text-decoration:underline;
}

nav a {
	background-color: var(--main-header-color);
	background-image: none;
	background-repeat: none;
	padding: 10px 50px;
}

nav a:visited {
	background-color: var(--main-header-color);
	background: var(--main-header-color) none none;
}

nav a:link {
	color: black;
}

#sumbit:active {
	color: red;
}

input:focus{
	background-color: yellow;
}

body {
	font-family:sans-serif;
	background: var(--main-bg-color);
	color: var(--main-header-color);
	font-size: var(--main-font-size);
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
}

ul {
	list-style-type: upper-roman;
	list-style-position: inside;
	list-style-image: none;
}

ol {
	list-style: circle inside none;
}

p {
	color:var(--main-text-color);
}

h2 {
	text-align: center;
}

#phoneimg {
	width: 10%;
	height: 10%;
	float: right;
}

.shop img {
	height: 250px;
	width: 200px;	
}

figcaption, caption {
	font: italic small-caps bold 90% Arial;
}

/* https://stackoverflow.com/questions/14073188/center-align-a-html-table */
.shop {
	border-color: white;
	border-style: solid;
	border-spacing: 2px;
	border-width: 3px;
	margin: 5px auto 40px auto;
	caption-side: top;
}

td, th {
	background-color: black;
	border: 3px solid gray;
	text-align: center;
}

#shopkeeperfig {
	text-align: center;
	caption-side: bottom;
	
}

#shopkeeperimg {
	vertical-align: super;
}

#shopkeeperimg:hover ~ #shopkeepertxt {
	color: red;
}

#haiku {
	text-transform: capitalize;
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/greek-vase.png);
	color: black;
}

#haiku > pre {
	font-weight: 900;
}

#haiku > h3 {
	text-indent: 75px;
}

/* https://stackoverflow.com/questions/15134389/how-to-align-3-divs-left-center-right */
.wrap {
	text-align: center;
}

#list1 {
	margin-right: 200px;
	display: inline-block;
	text-align: left;
}

#list2 {
	display: inline-block;
	text-align: center;
}

#list3{
	margin-left: 200px;
	display: inline-block;
	text-align: right;
}